#htmViewDiv span {
    color: black !important;
}
#htmViewDiv strong {
    color: white !important;
}
#htmViewDiv em {
    color: black !important;
}
.customIconGrey .sapUiIcon {
    color: #666666;
}
.customIconRed .sapUiIcon {
    color: #CC0000;
}
.customPageWithFooter>section {
    bottom: 2em !important;
}
.customImgScrollContainer .sapMScrollContScroll {
    width: 100%;
}
.customLink {
    color: #ffffff !important;
    margin-left: 0 !important;
}